@use '/home/enzo/projet/toba-design/src/styles/variables.scss';

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    width: 100%;
    min-height: 4.6875em;
    padding: 1rem;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    right: 0;
}
