$background-dark: #141414;
$background-light: #fbfbfb;
$background-middle: #c1c1c1;

$color-dark: #141414;
$color-light: #fbfbfb;
$color-middle: #787878;

$cta-background: #2b2b2b;
$cta-background-hover: #787878;

$cta-color: #2b2b2b;
$cta-color-hover: #787878;

// 141414
// 2B2B2B
// 787878
// C1C1C1
// FBFBFB
