@use '/home/enzo/projet/toba-design/src/styles/variables.scss';

.MotionDesignPAge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2em;
    &__title {
        margin: 2em 0 2em 0;
        font-size: 3em;
    }
}
