@use '/home/enzo/projet/toba-design/src/styles/variables.scss';

.myRecommendation {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: variables.$background-middle;

    &__card {
        display: flex;
    }
    &__title {
        margin: 0 0 1em 0;
    }
}
