@use '/home/enzo/projet/toba-design/src/styles/variables.scss';

.skills {
    display: flex;
    justify-content: space-around;
    &__presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 15em;
        text-align: center;
    }
    &__container {
        width: 15em;
        height: 15em;
    }
    &__picture {
        width: 100%;
        height: 100%;
        background: variables.$background-light;
        object-fit: contain;
    }
}
