@use '/home/enzo/projet/toba-design/src/styles/variables.scss';

.skills {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    background-color: variables.$background-middle;
    &__presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30em;

        text-align: center;
    }
    &__img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        padding-right: 1em;
    }
    &__picture {
        width: 150px;
        height: 150px;
        object-fit: contain;
        margin-right: 1em;
        border-radius: 10%;
    }
    &__paragraph {
        text-align: justify;
    }
}
